In [2]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import seaborn as sns

def get_file(url):
    result = requests.get(url).json()
    final = pd.DataFrame(result)
    return final

#SETTING API SOURCES
c_summary = get_file("https://api.census.gov/data/2018/abscs?get=NAME,GEO_ID,NAICS2017_LABEL,EMP,PAYANN,RCPPDEMP,YIBSZFI,YIBSZFI_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,VET_GROUP,VET_GROUP_LABEL,FIRMPDEMP&for=state:*&NAICS2017=00&key=626adfc10bf27b262135fc08ea896e98eee867ba")
char_business = get_file("https://api.census.gov/data/2018/abscb?get=NAME,GEO_ID,NAICS2017_LABEL,EMP,PAYANN,RCPPDEMP,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,VET_GROUP,VET_GROUP_LABEL,FIRMPDEMP&for=state:*&NAICS2017=00&BUSCHAR=A1&QDESC=B01&key=626adfc10bf27b262135fc08ea896e98eee867ba")
char_business_owners = get_file("https://api.census.gov/data/2018/abscbo?get=NAME,GEO_ID,NAICS2017_LABEL,OWNER_SEX,OWNER_SEX_LABEL,OWNER_ETH,OWNER_ETH_LABEL,OWNER_RACE,OWNER_RACE_LABEL,OWNER_VET,OWNER_VET_LABEL,OWNPDEMP&for=state:*&OWNCHAR=CG&NAICS2017=00&QDESC=O02&key=626adfc10bf27b262135fc08ea896e98eee867ba")
tech_char = get_file("https://api.census.gov/data/2018/abstcb?get=NAME,GEO_ID,NAICS2017_LABEL,EMP,FACTORS_P,IMPACTWF_P_LABEL,IMPACTWF_U_LABEL,FACTORS_U,PAYANN,MOTUSETECH,MOTUSETECH_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,VET_GROUP,VET_GROUP_LABEL,TECHUSE,TECHUSE_LABEL,FIRMPDEMP&for=state:*&NAICS2017=00&key=626adfc10bf27b262135fc08ea896e98eee867ba")

#REPLACING COLUMNS WITH 1ST ROW NAMES
c_summary.columns = c_summary.iloc[0]
char_business.columns = char_business.iloc[0]
char_business_owners.columns = char_business_owners.iloc[0]
tech_char.columns = tech_char.iloc[0]

#REMOVING UNESSECARY ROW AFTER RENAMING COLUMNS
c_summary = c_summary.drop(c_summary.index[0])
char_business = char_business.drop(char_business.index[0])
char_business_owners = char_business_owners.drop(char_business_owners.index[0])
tech_char = tech_char.drop(tech_char.index[0])

In [3]:
c_summary.columns

Index(['NAME', 'GEO_ID', 'NAICS2017_LABEL', 'EMP', 'PAYANN', 'RCPPDEMP',
       'YIBSZFI', 'YIBSZFI_LABEL', 'SEX', 'SEX_LABEL', 'ETH_GROUP',
       'ETH_GROUP_LABEL', 'RACE_GROUP', 'RACE_GROUP_LABEL', 'VET_GROUP',
       'VET_GROUP_LABEL', 'FIRMPDEMP', 'NAICS2017', 'state'],
      dtype='object', name=0)

In [4]:
c_summary.EMP.value_counts

<bound method IndexOpsMixin.value_counts of 1            284
2              0
3              0
4              0
5            975
          ...
36135     622372
36136    1243711
36137      57503
36138      65917
36139      80338
Name: EMP, Length: 36139, dtype: object>

In [5]:
char_business.columns

Index(['NAME', 'GEO_ID', 'NAICS2017_LABEL', 'EMP', 'PAYANN', 'RCPPDEMP', 'SEX',
       'SEX_LABEL', 'ETH_GROUP', 'ETH_GROUP_LABEL', 'RACE_GROUP',
       'RACE_GROUP_LABEL', 'VET_GROUP', 'VET_GROUP_LABEL', 'FIRMPDEMP',
       'NAICS2017', 'BUSCHAR', 'QDESC', 'state'],
      dtype='object', name=0)

In [6]:
char_business_owners.columns

Index(['NAME', 'GEO_ID', 'NAICS2017_LABEL', 'OWNER_SEX', 'OWNER_SEX_LABEL',
       'OWNER_ETH', 'OWNER_ETH_LABEL', 'OWNER_RACE', 'OWNER_RACE_LABEL',
       'OWNER_VET', 'OWNER_VET_LABEL', 'OWNPDEMP', 'OWNCHAR', 'NAICS2017',
       'QDESC', 'state'],
      dtype='object', name=0)

In [7]:
tech_char.columns

Index(['NAME', 'GEO_ID', 'NAICS2017_LABEL', 'EMP', 'FACTORS_P',
       'IMPACTWF_P_LABEL', 'IMPACTWF_U_LABEL', 'FACTORS_U', 'PAYANN',
       'MOTUSETECH', 'MOTUSETECH_LABEL', 'SEX', 'SEX_LABEL', 'ETH_GROUP',
       'ETH_GROUP_LABEL', 'RACE_GROUP', 'RACE_GROUP_LABEL', 'VET_GROUP',
       'VET_GROUP_LABEL', 'TECHUSE', 'TECHUSE_LABEL', 'FIRMPDEMP', 'NAICS2017',
       'state'],
      dtype='object', name=0)

In [8]:
c_summary

,NAME,GEO_ID,NAICS2017_LABEL,EMP,PAYANN,RCPPDEMP,YIBSZFI,YIBSZFI_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,VET_GROUP,VET_GROUP_LABEL,FIRMPDEMP,NAICS2017,state
1,Mississippi,0400000US28,Total for all sectors,284,8839,0,311,Firms with less than 2 years in business,001,Total,029,Non-Hispanic,00,Total,003,Equally veteran/nonveteran,97,00,28
2,Mississippi,0400000US28,Total for all sectors,0,0,0,318,Firms with 2 to 3 years in business,001,Total,029,Non-Hispanic,00,Total,003,Equally veteran/nonveteran,0,00,28
3,Mississippi,0400000US28,Total for all sectors,0,0,0,319,Firms with 4 to 5 years in business,001,Total,029,Non-Hispanic,00,Total,003,Equally veteran/nonveteran,0,00,28
4,Mississippi,0400000US28,Total for all sectors,0,0,0,321,Firms with 6 to 10 years in business,001,Total,029,Non-Hispanic,00,Total,003,Equally veteran/nonveteran,0,00,28
5,Mississippi,0400000US28,Total for all sectors,975,25729,0,322,Firms with 11 to 15 years in business,001,Total,029,Non-Hispanic,00,Total,003,Equally veteran/nonveteran,116,00,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36135,Minnesota,0400000US27,Total for all sectors,622372,30754306,0,323,Firms with 16 or more years in business,001,Total,001,Total,92,Nonminority,004,Nonveteran,32620,00,27
36136,Minnesota,0400000US27,Total for all sectors,1243711,52997220,0,001,All firms,096,Classifiable,096,Classifiable,96,Classifiable,096,Classifiable,105997,00,27
36137,Minnesota,0400000US27,Total for all sectors,57503,2232338,0,311,Firms with less than 2 years in business,096,Classifiable,096,Classifiable,96,Classifiable,096,Classifiable,13338,00,27
36138,Minnesota,0400000US27,Total for all sectors,65917,2152950,0,318,Firms with 2 to 3 years in business,096,Classifiable,096,Classifiable,96,Classifiable,096,Classifiable,11394,00,27
36139,Minnesota,0400000US27,Total for all sectors,80338,2905169,0,319,Firms with 4 to 5 years in business,096,Classifiable,096,Classifiable,96,Classifiable,096,Classifiable,9360,00,27

In [57]:
# c_summary.info()
int_c_summary = c_summary.EMP.astype(int)
most_employees = int_c_summary.nlargest(20)
type(most_employees)
most_employees
most_employees_index = most_employees.axes
most_employees_index

[Int64Index([21663, 13321, 21669, 25372,  5925, 22457, 13327, 22464, 22487,
             22306, 22480, 22363, 25378, 21884,  5931, 22373, 10419, 28334,
             22071, 13746],
            dtype='int64')]

In [52]:
most_employees_values = most_employees.values
most_employees_values

array([14991308, 10562214, 10546786,  8441008,  8073389,  7741776,
        7578314,  7249533,  7220766,  6964445])

In [58]:
for axes in most_employees_index:
    print(c_summary.iloc[axes].NAME)

21664      California
13322           Texas
21670      California
25373         Florida
5926         New York
22458      California
13328           Texas
22465      California
22488      California
22307      California
22481      California
22364      California
25379         Florida
21885      California
5932         New York
22374      California
10420    Pennsylvania
28335        Illinois
22072      California
13747           Texas
Name: NAME, dtype: object

In [10]:
char_business

,NAME,GEO_ID,NAICS2017_LABEL,EMP,PAYANN,RCPPDEMP,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,VET_GROUP,VET_GROUP_LABEL,FIRMPDEMP,NAICS2017,BUSCHAR,QDESC,state
1,Mississippi,0400000US28,Total for all sectors,920447,34137231,0,001,Total,001,Total,00,Total,001,Total,40856,00,A1,B01,28
2,Missouri,0400000US29,Total for all sectors,2464500,116172182,0,001,Total,001,Total,00,Total,001,Total,106753,00,A1,B01,29
3,Montana,0400000US30,Total for all sectors,361600,14060286,0,001,Total,001,Total,00,Total,001,Total,31661,00,A1,B01,30
4,Nebraska,0400000US31,Total for all sectors,855009,38441262,0,001,Total,001,Total,00,Total,001,Total,43189,00,A1,B01,31
5,Nevada,0400000US32,Total for all sectors,1240230,55634075,0,001,Total,001,Total,00,Total,001,Total,51758,00,A1,B01,32
6,New Hampshire,0400000US33,Total for all sectors,584769,30156054,0,001,Total,001,Total,00,Total,001,Total,28969,00,A1,B01,33
7,New Jersey,0400000US34,Total for all sectors,3736734,229676168,0,001,Total,001,Total,00,Total,001,Total,187243,00,A1,B01,34
8,New Mexico,0400000US35,Total for all sectors,584145,24658546,0,001,Total,001,Total,00,Total,001,Total,32197,00,A1,B01,35
9,New York,0400000US36,Total for all sectors,8073389,546738617,0,001,Total,001,Total,00,Total,001,Total,446155,00,A1,B01,36
10,North Carolina,0400000US37,Total for all sectors,3679286,176807199,0,001,Total,001,Total,00,Total,001,Total,167837,00,A1,B01,37
11,North Dakota,0400000US38,Total for all sectors,333115,17183698,0,001,Total,001,Total,00,Total,001,Total,19844,00,A1,B01,38
12,Ohio,0400000US39,Total for all sectors,4817903,235298311,0,001,Total,001,Total,00,Total,001,Total,170951,00,A1,B01,39
13,Oklahoma,0400000US40,Total for all sectors,1344715,59763886,0,001,Total,001,Total,00,Total,001,Total,68623,00,A1,B01,40
14,Oregon,0400000US41,Total for all sectors,1617123,80842532,0,001,Total,001,Total,00,Total,001,Total,91493,00,A1,B01,41
15,Pennsylvania,0400000US42,Total for all sectors,5556497,279958625,0,001,Total,001,Total,00,Total,001,Total,214291,00,A1,B01,42
16,Rhode Island,0400000US44,Total for all sectors,445167,23624401,0,001,Total,001,Total,00,Total,001,Total,22900,00,A1,B01,44
17,South Carolina,0400000US45,Total for all sectors,1825775,75694478,0,001,Total,001,Total,00,Total,001,Total,78512,00,A1,B01,45
18,South Dakota,0400000US46,Total for all sectors,317810,13331371,0,001,Total,001,Total,00,Total,001,Total,21641,00,A1,B01,46
19,Tennessee,0400000US47,Total for all sectors,2635392,124839833,0,001,Total,001,Total,00,Total,001,Total,91799,00,A1,B01,47
20,Texas,0400000US48,Total for all sectors,10562214,576612381,0,001,Total,001,Total,00,Total,001,Total,425425,00,A1,B01,48
21,Vermont,0400000US50,Total for all sectors,241404,10391634,0,001,Total,001,Total,00,Total,001,Total,16471,00,A1,B01,50
22,Utah,0400000US49,Total for all sectors,1273415,58271743,0,001,Total,001,Total,00,Total,001,Total,66525,00,A1,B01,49
23,Virginia,0400000US51,Total for all sectors,3293668,184731636,0,001,Total,001,Total,00,Total,001,Total,143980,00,A1,B01,51
24,Washington,0400000US53,Total for all sectors,2752850,173854547,0,001,Total,001,Total,00,Total,001,Total,148872,00,A1,B01,53
25,West Virginia,0400000US54,Total for all sectors,529733,21776423,0,001,Total,001,Total,00,Total,001,Total,23369,00,A1,B01,54
26,Wisconsin,0400000US55,Total for all sectors,2595886,129965242,0,001,Total,001,Total,00,Total,001,Total,103744,00,A1,B01,55
27,Wyoming,0400000US56,Total for all sectors,210845,9624017,0,001,Total,001,Total,00,Total,001,Total,17113,00,A1,B01,56
28,Alabama,0400000US01,Total for all sectors,1630135,73502277,0,001,Total,001,Total,00,Total,001,Total,67504,00,A1,B01,01
29,Alaska,0400000US02,Total for all sectors,258119,15344471,0,001,Total,001,Total,00,Total,001,Total,15698,00,A1,B01,02
30,Arizona,0400000US04,Total for all sectors,2525257,120495466,0,001,Total,001,Total,00,Total,001,Total,107152,00,A1,B01,04
31,Arkansas,0400000US05,Total for all sectors,1011278,42192293,0,001,Total,001,Total,00,Total,001,Total,47250,00,A1,B01,05
32,California,0400000US06,Total for all sectors,14991308,987704916,0,001,Total,001,Total,00,Total,001,Total,738370,00,A1,B01,06
33,Colorado,0400000US08,Total for all sectors,2434968,134369487,0,001,Total,001,Total,00,Total,001,Total,137165,00,A1,B01,08
34,Delaware,0400000US10,Total for all sectors,406179,23826058,0,001,Total,001,Total,00,Total,001,Total,19663,00,A1,B01,10
35,District of Columbia,0400000US11,Total for all sectors,455652,37728542,0,001,Total,001,Total,00,Total,001,Total,15418,00,A1,B01,11
36,Idaho,0400000US16,Total for all sectors,598348,23195317,0,001,Total,001,Total,00,Total,001,Total,39080,00,A1,B01,16
37,Connecticut,0400000US09,Total for all sectors,1476827,98448097,0,001,Total,001,Total,00,Total,001,Total,66783,00,A1,B01,09
38,Florida,0400000US12,Total for all sectors,8441008,388187677,0,001,Total,001,Total,00,Total,001,Total,447363,00,A1,B01,12
39,Georgia,0400000US13,Total for all sectors,3805183,196353564,0,001,Total,001,Total,00,Total,001,Total,174985,00,A1,B01,13
40,Hawaii,0400000US15,Total for all sectors,505452,23429423,0,001,Total,001,Total,00,Total,001,Total,23687,00,A1,B01,15
41,Illinois,0400000US17,Total for all sectors,5474518,321222632,0,001,Total,001,Total,00,Total,001,Total,245445,00,A1,B01,17
42,Indiana,0400000US18,Total for all sectors,2747840,126645780,0,001,Total,001,Total,00,Total,001,Total,102882,00,A1,B01,18
43,Iowa,0400000US19,Total for all sectors,1341265,61255559,0,001,Total,001,Total,00,Total,001,Total,60610,00,A1,B01,19
44,Kansas,0400000US20,Total for all sectors,1260598,54906128,0,001,Total,001,Total,00,Total,001,Total,54984,00,A1,B01,20
45,Kentucky,0400000US21,Total for all sectors,1609352,70349726,0,001,Total,001,Total,00,Total,001,Total,63236,00,A1,B01,21
46,Louisiana,0400000US22,Total for all sectors,1671852,77549488,0,001,Total,001,Total,00,Total,001,Total,76877,00,A1,B01,22
47,Maine,0400000US23,Total for all sectors,498963,21418377,0,001,Total,001,Total,00,Total,001,Total,32044,00,A1,B01,23
48,Maryland,0400000US24,Total for all sectors,2276097,127674716,0,001,Total,001,Total,00,Total,001,Total,104197,00,A1,B01,24
49,Massachusetts,0400000US25,Total for all sectors,3311909,227796997,0,001,Total,001,Total,00,Total,001,Total,137196,00,A1,B01,25
50,Michigan,0400000US26,Total for all sectors,3937663,194684377,0,001,Total,001,Total,00,Total,001,Total,163850,00,A1,B01,26
51,Minnesota,0400000US27,Total for all sectors,2673014,146712564,0,001,Total,001,Total,00,Total,001,Total,113774,00,A1,B01,27

In [11]:
char_business_owners

,NAME,GEO_ID,NAICS2017_LABEL,OWNER_SEX,OWNER_SEX_LABEL,OWNER_ETH,OWNER_ETH_LABEL,OWNER_RACE,OWNER_RACE_LABEL,OWNER_VET,OWNER_VET_LABEL,OWNPDEMP,OWNCHAR,NAICS2017,QDESC,state
1,Mississippi,0400000US28,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,1158,CG,00,O02,28
2,Missouri,0400000US29,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,3564,CG,00,O02,29
3,Montana,0400000US30,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,748,CG,00,O02,30
4,Nebraska,0400000US31,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,1612,CG,00,O02,31
5,Nevada,0400000US32,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,572,CG,00,O02,32
6,New Hampshire,0400000US33,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,661,CG,00,O02,33
7,New Jersey,0400000US34,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,5324,CG,00,O02,34
8,New Mexico,0400000US35,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,788,CG,00,O02,35
9,New York,0400000US36,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,8918,CG,00,O02,36
10,North Carolina,0400000US37,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,4256,CG,00,O02,37
11,North Dakota,0400000US38,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,875,CG,00,O02,38
12,Ohio,0400000US39,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,6829,CG,00,O02,39
13,Oklahoma,0400000US40,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,2276,CG,00,O02,40
14,Oregon,0400000US41,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,2577,CG,00,O02,41
15,Pennsylvania,0400000US42,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,7344,CG,00,O02,42
16,Rhode Island,0400000US44,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,312,CG,00,O02,44
17,South Carolina,0400000US45,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,2111,CG,00,O02,45
18,South Dakota,0400000US46,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,490,CG,00,O02,46
19,Tennessee,0400000US47,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,3184,CG,00,O02,47
20,Texas,0400000US48,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,8943,CG,00,O02,48
21,Vermont,0400000US50,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,749,CG,00,O02,50
22,Utah,0400000US49,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,1369,CG,00,O02,49
23,Virginia,0400000US51,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,3498,CG,00,O02,51
24,Washington,0400000US53,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,3404,CG,00,O02,53
25,West Virginia,0400000US54,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,1057,CG,00,O02,54
26,Wisconsin,0400000US55,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,4236,CG,00,O02,55
27,Wyoming,0400000US56,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,325,CG,00,O02,56
28,Alabama,0400000US01,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,2042,CG,00,O02,01
29,Alaska,0400000US02,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,306,CG,00,O02,02
30,Arizona,0400000US04,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,1509,CG,00,O02,04
31,Arkansas,0400000US05,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,1828,CG,00,O02,05
32,California,0400000US06,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,17719,CG,00,O02,06
33,Colorado,0400000US08,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,2765,CG,00,O02,08
34,Delaware,0400000US10,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,289,CG,00,O02,10
35,District of Columbia,0400000US11,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,307,CG,00,O02,11
36,Idaho,0400000US16,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,1220,CG,00,O02,16
37,Connecticut,0400000US09,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,1544,CG,00,O02,09
38,Florida,0400000US12,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,6716,CG,00,O02,12
39,Georgia,0400000US13,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,3168,CG,00,O02,13
40,Hawaii,0400000US15,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,651,CG,00,O02,15
41,Illinois,0400000US17,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,6507,CG,00,O02,17
42,Indiana,0400000US18,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,4142,CG,00,O02,18
43,Iowa,0400000US19,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,2830,CG,00,O02,19
44,Kansas,0400000US20,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,2458,CG,00,O02,20
45,Kentucky,0400000US21,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,2398,CG,00,O02,21
46,Louisiana,0400000US22,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,2433,CG,00,O02,22
47,Maine,0400000US23,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,882,CG,00,O02,23
48,Maryland,0400000US24,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,2325,CG,00,O02,24
49,Massachusetts,0400000US25,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,3655,CG,00,O02,25
50,Michigan,0400000US26,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,5063,CG,00,O02,26
51,Minnesota,0400000US27,Total for all sectors,001,All owners of respondent firms,001,All owners of respondent firms,00,All owners of respondent firms,001,All owners of respondent firms,3210,CG,00,O02,27

In [12]:
tech_char

,NAME,GEO_ID,NAICS2017_LABEL,EMP,FACTORS_P,IMPACTWF_P_LABEL,IMPACTWF_U_LABEL,FACTORS_U,PAYANN,MOTUSETECH,...,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,VET_GROUP,VET_GROUP_LABEL,TECHUSE,TECHUSE_LABEL,FIRMPDEMP,NAICS2017,state
1,Alabama,0400000US01,Total for all sectors,786873,00,All firms,All firms,00,36136501,00,...,Total,00,Total,001,Total,T2E03B99,Cloud-Based: Total use,17448,00,01
2,Alabama,0400000US01,Total for all sectors,1420465,00,All firms,All firms,00,65324725,00,...,Total,00,Total,001,Total,T2E03BA9,Cloud-Based: Total Reporting,58136,00,01
3,Alabama,0400000US01,Total for all sectors,427265,00,All firms,All firms,00,17464089,00,...,Total,00,Total,001,Total,T3E03B01,Specialized Software: Did not use,30912,00,01
4,Alabama,0400000US01,Total for all sectors,13853,00,All firms,All firms,00,899625,00,...,Total,00,Total,001,Total,T3E03B02,"Specialized Software: Tested, but did not use ...",253,00,01
5,Alabama,0400000US01,Total for all sectors,119682,00,All firms,All firms,00,5254931,00,...,Total,00,Total,001,Total,T3E03B03,Specialized Software: Low use,4191,00,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9431,Wyoming,0400000US56,Total for all sectors,4026,00,All firms,All firms,00,311778,00,...,Total,00,Total,001,Total,T4E03B04,Robotics: Moderate use,65,00,56
9432,Wyoming,0400000US56,Total for all sectors,7175,00,All firms,All firms,00,258365,00,...,Total,00,Total,001,Total,T4E03B05,Robotics: High use,22,00,56
9433,Wyoming,0400000US56,Total for all sectors,14150,00,All firms,All firms,00,783236,00,...,Total,00,Total,001,Total,T4E03B06,Robotics: Don't know,528,00,56
9434,Wyoming,0400000US56,Total for all sectors,17951,00,All firms,All firms,00,1118387,00,...,Total,00,Total,001,Total,T4E03B99,Robotics: Total use,274,00,56
9435,Wyoming,0400000US56,Total for all sectors,184084,00,All firms,All firms,00,8684515,00,...,Total,00,Total,001,Total,T4E03BA9,Robotics: Total Reporting,14423,00,56